.Address_container {
  position: relative;
  display: flex;
  border: solid 3px #2222;
  //   width: 100%;
  margin: 16px;
}
.Address_containerAdd {
  position: relative;
  border: solid 3px #2222;
  //   width: 100%;
  margin: 16px;
}
.Address_containerAdd:hover {
  cursor: pointer;
}

a {
  display: flex;
}
.Address_mainContainer {
  display: grid;
  width: 100%;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
  grid-auto-rows: minmax(100px, auto);
}
.Address_textContainer {
  width: 100%;
}

.Address_label {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 4px;
  margin: 8px;
  text-decoration: none;
  color: black;
}

.Address_IconContainer {
  padding: 8px;
  right: 0;
  justify-content: center;
}
.Address_delete {
  padding: 5px;
}

.Address_delete:hover {
  background-color: #9c999a;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
.Address_ButtonContainer {
  margin: 8px;
  padding: 8px;
}

.Address_containerAdd {
  position: relative;
  align-items: center;
  text-align: center;
  div {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 4px;
    margin: 8px;
    text-decoration: none;
    color: #9c999a;
  }
  svg {
    margin: auto;
    color: #9c999a;
    height: 70%;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
