.Carousel1_maincontainer {
  margin-top: 0;
  padding-bottom: 100px;
  height: 800px;
}

.Carousel1_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.Card_textcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_container {
  height: 600px;
}
.Card_imgcontainer {
  background-color: #f3f3f3;
  height: 538px;
  width: 30vw;
  display: flex;
  justify-content: center;
}

.Card_imgs {
  display: block;
  margin: auto;
  width: 320px;
  height: 320px;
}

.Card_cardscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-left: 81px;
  margin-right: 81px;
}

button {
  .buttonsvg:hover {
    opacity: 1 !important;
    // background-color: red !important;
  }
}
