.Carousel_Container {
  width: 1184px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 56px;
  padding-left: 56px;
  padding-bottom: 100px;
  height: 800px;
}

.Carousel1_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.Card_textcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_container {
  height: 600px;
}
.Card_imgcontainer {
  position: relative;
  background-color: #f3f3f3;
  height: 538px;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  justify-content: center;
}

.Card_imgs {
  margin: auto;
  width: 320px;
  height: 320px;
}

.Card_cardscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

button {
  .buttonsvg:hover {
    opacity: 1 !important;
    // background-color: red !important;
  }
}
