.Card_imgsContainer {
  display: flex;
}
.Card_imgs {
  margin: 81px 20px;
  display: flex;
  width: 280px;
  height: 280px;
  transition: 1s;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  width: 320px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
