.Card_imgsContainer {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.Card1_textcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card1_imgs {
  position: relative;
  margin: 60px auto;
  display: flex;
  width: 280px;
  height: 280px;
  transition: 1s;
}
.Card1_heartContainer {
  display: flex;
  flex-direction: row-reverse;
}
.Card1_text {
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  width: 320px;
  text-align: center;
}

.Card1_heart {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-right: 7%;
  margin-top: 20px;
  border-radius: 50%;
  padding: 4px;
}

.Card1_heart:hover {
  background-color: rgb(252, 158, 202);
  color: rgb(249, 24, 128);
  cursor: pointer;
}

.Card1_delete {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-right: 7%;
  margin-top: 20px;
  border-radius: 50%;
  padding: 4px;
}

.Card1_delete:hover {
  background-color: rgb(156, 153, 154);
  color: white;
  cursor: pointer;
}
.Card1_deleteContainer {
  display: flex;
  flex-direction: row-reverse;
}
