.Carousel2_container {
  display: flex;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Carousel2_img_container {
  margin: auto;
  display: flex;
  min-width: 570px;
}
.Card2_container {
  height: 500px;
}

.Card2_imgs {
  width: 280px;
  height: 280px;
}
.Carousel2_img_men {
  width: 570px;
  height: 672px;
}

.Card2_cardscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  gap: 17px;
}

.Carousel2_container2 {
  height: 672px;
  margin-left: auto;
  margin-right: auto;
}

.Card2_imgcontainer {
  position: relative;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.Card2_textcontainer {
  height: 36px;
  display: flex;
}

.Card2_text {
  display: flex;
  margin-top: 22px;
}

.Card2_discount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  .Card2_textd {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
  }
  .Card2_textn {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.Carousel2 {
  height: 540px !important;
}
