.Detail_Container {
  display: flex;
}
.Detail_MainContainer {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.Detail_img {
  width: 80px;
  margin: 0 auto;
  object-fit: contain;
  margin: 16px;
}
.Detail_miniImgContainer {
  width: 60px;
  margin: 0 auto;
  object-fit: contain;
}
.Detail_imgContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 15vw;
  margin-top: 16px;
}

.Detail_imgContainerBig {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 24px;
  width: 300px;
  padding-right: 300px;
}
.Detail_imgBase {
  width: 350px;
}
.Detail_main:hover {
  cursor: zoom-in;
}
.Detail_ProductName {
  display: flex;
  justify-content: center;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 24px;
  text-decoration: none;
  color: black;
}

.Detail_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 24px;
  text-decoration: none;
  color: black;
}

.Detail_IconContainer {
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  box-sizing: inherit;
}
.ColorSwap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Detail_ProductDetail {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}
.Detail_buttonContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.Texto_Transparente {
  padding: 12px;
  margin: 12px;
}
.Main3 {
  width: 100%;
}

.Detail_IconPlusQuantity {
  display: flex;
}
