.Favs_mainContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.Empty_Message {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.Favs_mainContainer2 {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
