.Item_imgsContainer {
  display: flex;
}
.Item1_imgs {
  margin: 20px 20px;
  display: flex;
  width: 280px;
  height: 280px;
  transition: 1s;
}
.Item1_imgs:hover {
  cursor: pointer;
}
.Item1_textcontainer {
  margin: 0;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  width: 320px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.Texto_Transparente {
  color: transparent;
}

.ITEM_heart {
  position: absolute;
  margin-top: 81px;
  margin-left: 20%;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.ITEM_heart:hover {
  background-color: rgb(252, 158, 202);
  color: rgb(249, 24, 128);
}
.ITEM_heart2 {
  display: flex;
  position: absolute;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: -250px;
  margin-left: 250px;
}
.ITEM_heart2:hover {
  background-color: rgb(252, 158, 202);
  color: rgb(249, 24, 128);
}
