@import url("https://use.typekit.net/dda2mdp.css");

.Menu_usernameLogOut {
  display: flex;
  justify-content: space-between;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  align-items: center;
  button {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}

.Menu_Container {
  width: 18vw;
  min-height: 100vh;
  border-right: solid 1px #d2d2d2;
  border-top: solid 1px #d2d2d2;
}
.Menu_item {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  text-decoration: none;
  color: black;
}
