@import url("https://use.typekit.net/dda2mdp.css");

.Menu_usernameLogOut {
  display: flex;
  justify-content: space-between;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  button {
    display: flex;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    justify-content: center;
  }
}

.Menu_Container {
  margin-top: 16px;
  width: 80px;
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 2px;
  background-color: rgb(236, 236, 241);
}
.Menu_item {
  font-family: montserrat, sans-serif;
  padding: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.Menu_buttonContainer {
  display: flex;
  padding-bottom: 8px;
}
