@import url("https://use.typekit.net/dda2mdp.css");

$font-size: 12px;
.Navigation_MAINCONTAINER {
  width: 100%;
}
.Navigation_firstLine {
  display: flex;
  margin-top: 16px;
  width: 1184px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 56px;
  padding-left: 56px;
  padding-bottom: 11.5px;
  justify-content: flex-end;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: $font-size;
  border-bottom: solid 1px;
  border-color: #d2d2d2;
  gap: 41px;
  div {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}

.Navigation_Nav {
  display: flex;
  width: 1184px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 56px;
  padding-left: 56px;
  align-items: center;
  justify-content: space-between;
  margin-top: 18.5px;
  margin-bottom: 16px;
}
.Navigation_img {
  height: 120px;
  width: 120px;
  cursor: pointer;
}
.Navigation_Middle {
  display: flex;
  justify-content: space-between;
  div {
    margin: 24px;
    font-size: 16px;
    line-height: 19.5px;
    font-family: montserrat, sans-serif;
    color: #222222;
    cursor: pointer;
  }
}
.Navigation_icons {
  display: flex;
  align-items: center;
  .Navigation_lupa {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .Navigation_user {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .Navigation_heart {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .Navigation_bag {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.Navigation_bg {
  width: 100%;
  margin-bottom: 100px;
}
.Navigation_letters {
  display: flex;
  justify-content: center;
  align-items: center;
  .yellow {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #f2b03b;
    padding: 8px;
  }
  .blue {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #004197;
  }
}

.Navigation_Separator {
  padding: 18px;
}

.Navigation_lupa_input {
  width: 300px;
  height: 40px;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.Navigation_menu {
  cursor: pointer;
  .Menu_Container {
    display: none;
    position: absolute;
    z-index: 2;
  }
}
.Navigation_menu:hover {
  .Menu_Container {
    display: block;
  }
  .Menu_Container:hover {
    display: block;
  }
}
.Navigation_username {
  width: 80px;
  padding: 2px;
}

@media (max-width: 1280px) {
  .Navigation_firstLine {
    width: 91%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .Navigation_Nav {
    width: 91%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .Navigation_lupa_input {
    width: 200px;
  }
  .Navigation_bg {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .Navigation_Middle {
    display: none;
  }
  .Navigation_lupa_input {
    width: 40vw;
  }
}

@media (max-width: 640px) {
  .Navigation_img {
    height: 80px;
    width: 80px;
  }
  .Navigation_Middle {
    display: none;
  }
  .Navigation_lupa_input {
    width: 40vw;
  }
  .Navigation_Separator {
    padding: 8px;
  }
}
