.PaginationS {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.PaginationF {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
}
