.search_maincontainer {
  display: flex;
}
.search_griddisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.Pagination {
  display: flex;
  flex-direction: row-reverse;
}
