.search_maincontainer {
  display: flex;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.search_griddisplay {
  display: grid;
  width: 100%;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.search_msjNull {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  padding: 8px;
}
