.Zoom_Figure {
  margin: 100px 50px 100px 50px;
  width: 400px;
  background-repeat: no-repeat;
}
.Zoom_Figure:hover {
  img {
    opacity: 0;
    margin: 0px;
  }
}
.Zoom_Figure {
  img {
    display: block;
    width: 100%;
    pointer-events: none;
  }
}
.Detail_Zoom {
  height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}
